.container{
    background-color: blue;
    width: 970px;
    height: 970px;
}
    .header img{
        width: 400px;
        margin: 20px;
    }
        .th{
            height: 100px;
            width: 150px;
            display: inline-block;
            vertical-align: top;
            padding-left: 200px;
            padding-top: 35px;
        }
        .derecha{
            color: white;
            display: inline-block;
            margin-left: 99px;
            width: 200px;
        }
        .link{
            margin-left: 3px;
            color: yellow;
        }
        .buscador{
            color: black;
            display: inline-block;
            padding: 10px 30px 10px 30px;
            background-color: rgb(34, 33, 33);
            border-radius: 10px;
            width: 200px;
        }
    .upcenter{
        background-color: rgb(31, 157, 230);
        height: 40px;
        width: 800px;
        border-radius: 5px;
        margin-left: 80px;
        padding-left: 40px;
        padding-top: 20px;
    }
        .botonera{
            display: inline-block;
            color: white;
            font-weight: bolder;
            margin-right: 60px;
            width: auto;
        }
    .center{
        width: 950px;
        padding: 20px;
    }
        .centeri{
            display: inline-block;
            text-align: center;
        }
        .centerd{
            display: inline-block;
            vertical-align: top;
            margin-left: 70px;
        }
        .lista{
            color: white;
            margin-top: 15px;
            list-style: none;

        }
        .famarillo{
            color: yellow;
        }
        .ref{
            color: white;
        }
    .parrafo{
        color: white;
        text-align: center;
        width: 600px;
        padding: 20px;
        display: inline-block;
    }
        .pamarillo{
            color: yellow;
        }
    .bottom{
        background-color: white;
        width: 970px;
        height: 300px;
    }
        .espacio{
            background-color:rgb(31, 157, 230);
            height: 4px;
            width: 350px;
            margin-top: 15px;
        }
        .btexto{
            width: 350px;
            height: 250px;
            display: inline-block;
            vertical-align: top;
            padding-left: 60px;
            padding-right: 60px;
            text-align: center;
        }
        .blist{
            color: rgb(31, 157, 230);
        }
    .footer{
        width: 600px;
        height: 70px;
        margin-left: 280px;
        margin-top: 40px;
    }
        .flink{
            color: rgb(31, 157, 230);
            text-decoration: none;
        }
        .end{
            color: rgb(31, 157, 230);
            margin-left: 150px;
        }
